---
import { getCollection } from 'astro:content';

import CocktailsList from '../components/CocktailsList.astro';
import Title1 from '../components/Title1.astro';
import Layout from "../layouts/Layout.astro";

const cocktails = await getCollection('cocktails');
---
<Layout>
    <Title1 class="my-4 md:my-8 lg:my-16">Choisissez <span class="text-primary-dark">votre poison</span></Title1>
    <CocktailsList cocktails={cocktails.map((cocktail) => cocktail)} />
</Layout>
