---
import CocktailCard from "./CocktailCard.astro";

const { cocktails } = Astro.props;
---
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
  {cocktails.map((cocktail) => <CocktailCard cocktail={cocktail}/>)}
</div>
