<footer class="container flex justify-center mb-0 md:mb-4 mt-10">
    <p>Fait avec modération par <a class="hover:text-blue-950 underline" href="https://github.com/plouufff" target="_blank" rel="noopener noreferrer">plouufff</a></p>
</footer>