<footer class="container flex mx-auto my-2 md:my-4 p-2 md:p-4 justify-center">
    <p>
        Fait avec modération par
        <a
            class="font-bold text-primary hover:text-primary-dark underline"
            href="https://github.com/plouufff"
            target="_blank"
            rel="noopener noreferrer">
                plouufff
        </a>
    </p>
</footer>
