---
import { getCollection } from "astro:content";

import Badge from "./Badge.astro";

const cocktails = await getCollection('cocktails');
---

<header class="container flex flex-wrap gap-4 sm:gap-2 items-center justify-between mb-10 mt-0 md:mt-4">
    <div class="flex flex-wrap gap-2 grow sm:grow-0 items-center justify-between sm:justify-start">
        <a class="font-bold text-4xl text-blue-950" href="/">Cocktails !</a>
        <Badge label={`${cocktails.length} disponibles`}/>
    </div>
    <a class="bg-blue-600 grow sm:grow-0 hover:bg-blue-700 text-white text-center rounded p-2" href="/random">Un cocktail au hasard</a>
</header>
