---
const { class: className } = Astro.props;
---
<h2 class={["font-bold", "my-2", "text-xl", "md:my-4", "md:text-2xl"].concat(className).join(' ')}>
    <slot/>
</h2>

<style>
  .cocktail-name {
    font-weight: 900;
  }
</style>
