---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import '../styles/global.css';
---
<html lang="fr">
    <head>
        <ClientRouter />
        <Font cssVariable="--font-noto-sans" />
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Cocktails</title>
        <meta name="description" content="recette de cocktails" />
    </head>
    <body class="h-screen flex flex-col font-display justify-between mx-auto">
      <Header/>
      <div class="border-y border-purple-100 bg-purple-50 flex grow">
        <main class="container flex flex-col gap-4 grow mx-auto p-2 md:p-4">
          <slot/>
        </main>
      </div>
      <Footer/>
    </body>
</html>
